/* css3 v1.0 */
.section_advantage {
  background-color: #fff;
  background-image: url('http://img.bizhi.sogou.com/images/2014/11/25/977244.jpg');
  background-position: center;
  background-size: cover;
}
.section_advantage .fp-tableCell {
  background: rgba(0, 53, 44, 0.6) url('../img/business/bg.png') center repeat;
}
.section_advantage ul li {
  font-size: 2rem;
  display: inline-block;
  width: 20%;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.section_advantage ul li .icon_ct {
  line-height: 7.5em;
  width: 7.5em;
  height: 7.5em;
  margin: .5em auto 1.5em;
  color: #fd8926;
  border-radius: 100%;
  background-color: transparent;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: scale(0.9) translate3d(0, 0, 0);
  -moz-transform: scale(0.9) translate3d(0, 0, 0);
  -ms-transform: scale(0.9) translate3d(0, 0, 0);
  -o-transform: scale(0.9) translate3d(0, 0, 0);
  transform: scale(0.9) translate3d(0, 0, 0);
}
.section_advantage ul li .icon_ct i {
  font-size: 5em;
  display: block;
}
.section_advantage ul li .icon_ct i::before {
  vertical-align: -0.1em;
}
.section_advantage ul li h2,
.section_advantage ul li p {
  font-size: 1em;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.section_advantage ul li.active .icon_ct {
  color: #fff;
  background-color: rgba(253, 137, 38, 0.5);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.section_advantage ul.ready li:nth-child(1) .icon_ct {
  -webkit-transform: translate3d(-1000px, 0, 0);
  -moz-transform: translate3d(-1000px, 0, 0);
  -ms-transform: translate3d(-1000px, 0, 0);
  -o-transform: translate3d(-1000px, 0, 0);
  transform: translate3d(-1000px, 0, 0);
}
.section_advantage ul.ready li:nth-child(2) .icon_ct {
  -webkit-transform: translate3d(0, -1000px, 0);
  -moz-transform: translate3d(0, -1000px, 0);
  -ms-transform: translate3d(0, -1000px, 0);
  -o-transform: translate3d(0, -1000px, 0);
  transform: translate3d(0, -1000px, 0);
}
.section_advantage ul.ready li:nth-child(3) .icon_ct {
  -webkit-transform: translate3d(0, 1000px, 0);
  -moz-transform: translate3d(0, 1000px, 0);
  -ms-transform: translate3d(0, 1000px, 0);
  -o-transform: translate3d(0, 1000px, 0);
  transform: translate3d(0, 1000px, 0);
}
.section_advantage ul.ready li:nth-child(4) .icon_ct {
  -webkit-transform: translate3d(1000px, 0, 0);
  -moz-transform: translate3d(1000px, 0, 0);
  -ms-transform: translate3d(1000px, 0, 0);
  -o-transform: translate3d(1000px, 0, 0);
  transform: translate3d(1000px, 0, 0);
}
.section_advantage ul.ready li h2 {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
.section_advantage ul.ready li p {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}
@media screen and (max-width: 800px) {
  .section_advantage ul li {
    font-size: 1.4rem;
    width: 35%;
  }
  .section_advantage ul li .icon_ct {
    margin-bottom: .5em;
  }
}
