.section_advantage {
  background-color: #fff;
  background-image: url("http://www.rztywl.com/templets/Images/wallpaper5.jpg");
  background-size: cover;
}
.section_advantage ul li {
  display: inline-block;
  width: 20%;
  cursor: pointer;
  font-size: 2rem;
  transition: all .5s;
  color: #fff;
}
.section_advantage ul li .icon_ct {
  color: #FD8926;
  height: 7.5em;
  width: 7.5em;
  border-radius: 100%;
  background-color: transparent;
  margin: .5em auto 1.5em;
  line-height: 7.5em;
  transition: all 1.5s;
  transform: scale(0.9);
}
.section_advantage ul li .icon_ct i {
  display: block;
  font-size: 5em;
}
.section_advantage ul li .icon_ct i::before {
  vertical-align: -0.1em;
}
.section_advantage ul li h2 {
  font-size: 1em;
}
.section_advantage ul li p {
  font-size: 1em;
}
.section_advantage ul li.active .icon_ct {
  transform: scale(1.1);
  color: #fff;
  background-color: rgba(253, 137, 38, 0.5);
}
@media screen and (max-width: 800px) {
  .section_advantage ul li {
    width: 35%;
    font-size: 1.4rem;
  }
  .section_advantage ul li .icon_ct {
    margin-bottom: .5em;
  }
}
