.section_advantage {
  background-color: #D3F3FF;
}
.section_advantage ul li {
  display: inline-block;
  width: 20%;
  cursor: pointer;
}
.section_advantage ul li .icon_ct {
  color: #FD8926;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: transparent;
  margin: 10px auto 30px;
  line-height: 150px;
  transition: all 1.5s;
}
.section_advantage ul li .icon_ct i {
  display: block;
  font-size: 100px;
}
.section_advantage ul li .icon_ct i::before {
  vertical-align: -0.1em;
}
.section_advantage ul li h2 {
  font-size: 20px;
}
.section_advantage ul li p {
  font-size: 20px;
}
.section_advantage ul li.active .icon_ct {
  color: #fff;
  background-color: #FD8926;
}
