.section_business {
  background-color: #FFC781;
  -webkit-font-smoothing: subpixel-antialiased;
}
.section_business ul,
.section_business li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section_business ul {
  list-style: none;
}
.section_business .books {
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
  font-size: 2rem;
}
.section_business .books .book {
  display: inline-block;
  margin: 1em 2.5em;
  vertical-align: top;
  position: relative;
  width: 4em;
  height: 5.5em;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 2em;
}
.section_business .books .book .cover_first,
.section_business .books .book .cover_last {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.section_business .books .book .cover_first {
  z-index: 100;
  -webkit-transform: rotateY(-30deg) translateZ(10px);
  -moz-transform: rotateY(-30deg) translateZ(10px);
  transform: rotateY(-30deg) translateZ(10px);
  background: #5f7798 url('../img/business/bg.png') repeat;
  -webkit-transition: all 0.8s ease, z-index 0.6s;
  -moz-transition: all 0.8s ease, z-index 0.6s;
  transition: all 0.8s ease, z-index 0.6s;
  display: table;
}
.section_business .books .book .cover_first::before {
  content: '';
  position: absolute;
  top: -1px;
  right: 100%;
  bottom: -1px;
  left: -5px;
  border-radius: 2px 0 0 2px;
  background-color: #444040;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.section_business .books .book .cover_first h2 {
  font-size: 1em;
  color: #fff;
  width: 100%;
  padding: 0 1.25em;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2em;
}
.section_business .books .book:nth-child(4) .cover_first h2 {
  font-size: .8em;
  padding: 0 1.5625em;
}
.section_business .books .book .cover_last {
  box-sizing: border-box;
  width: 95%;
  border-left: 3px solid #fff;
  background-color: #5F7798;
  -webkit-transform: rotateY(-15deg) translateZ(-8px);
  -moz-transform: rotateY(-15deg) translateZ(-8px);
  transform: rotateY(-15deg) translateZ(-8px);
}
.section_business .books .book .page {
  z-index: 10;
  top: 1%;
  left: 3%;
  width: 100%;
  height: 98%;
}
.section_business .books .book .page,
.section_business .books .book .page > li {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.section_business .books .book .page > li {
  width: 100%;
  height: 100%;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .6s;
  -moz-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  border-radius: 0 5px 5px 0;
  background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0 -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0 1px rgba(150, 150, 150, 0.2);
}
.section_business .books .book .page > li:nth-child(1) {
  -webkit-transform: rotateY(-28deg);
  -moz-transform: rotateY(-28deg);
  transform: rotateY(-28deg);
}
.section_business .books .book .page > li:nth-child(2) {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}
.section_business .books .book .page > li:nth-child(2) p {
  font-size: .5em;
  margin: 1em 1em;
  color: #424242;
  text-align: left;
  line-height: 1.5em;
}
.section_business .books .book .page > li:nth-child(3) {
  -webkit-transform: rotateY(-32deg);
  -moz-transform: rotateY(-32deg);
  transform: rotateY(-32deg);
}
.section_business .books .book .page > li:nth-child(4) {
  -webkit-transform: rotateY(-34deg);
  -moz-transform: rotateY(-34deg);
  transform: rotateY(-34deg);
}
.section_business .books .book.open > .cover_first {
  z-index: 0;
  -webkit-transform: rotateY(-145deg) translateZ(0);
  -moz-transform: rotateY(-145deg) translateZ(0);
  transform: rotateY(-145deg) translateZ(0);
}
.section_business .books .book.open > .page > li {
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}
.section_business .books .book.open > .page > li:nth-child(1) {
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}
.section_business .books .book.open > .page > li:nth-child(2) {
  -webkit-transition-duration: 1.8s;
  -moz-transition-duration: 1.8s;
  transition-duration: 1.8s;
  -webkit-transform: rotateY(-35deg);
  -moz-transform: rotateY(-35deg);
  transform: rotateY(-35deg);
}
.section_business .books .book.open > .page > li:nth-child(3) {
  -webkit-transition-duration: 1.6s;
  -moz-transition-duration: 1.6s;
  transition-duration: 1.6s;
  -webkit-transform: rotateY(-118deg);
  -moz-transform: rotateY(-118deg);
  transform: rotateY(-118deg);
}
.section_business .books .book.open > .page > li:nth-child(4) {
  -webkit-transition-duration: 1.4s;
  -moz-transition-duration: 1.4s;
  transition-duration: 1.4s;
  -webkit-transform: rotateY(-130deg);
  -moz-transform: rotateY(-130deg);
  transform: rotateY(-130deg);
}
@media screen and (min-width: 1800px) {
  .section_business .books {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 1500px) {
  .section_business .books {
    font-size: 1.8rem;
    width: 40em;
  }
}
@media screen and (max-width: 800px) {
  .section_business .books {
    font-size: 1.6rem;
  }
  .section_business .books .book {
    margin: 1em 3em 1em .5em;
  }
}
@media screen and (max-width: 500px) {
  .section_business .books {
    font-size: 1.2rem;
  }
}
