.section_contact {
  background: #ffffff url("../img/contact/climb.png") left bottom no-repeat;
  background-size: 200% auto;
  transition: all 0.5s ease-in;
  position: relative;
  font-size: 2rem;
}
.section_contact .content {
  float: right;
  margin-right: 20%;
  text-align: left;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}
.section_contact .content h2 {
  font-size: 2.5em;
  font-weight: normal;
}
.section_contact .content h2:first-letter {
  font-size: 1.6em;
  margin-left: -0.15em;
}
.section_contact .content p {
  font-size: 1em;
}
.section_contact .content p strong {
  font-size: 1.25em;
}
.section_contact .content ul {
  margin-top: 2em;
}
.section_contact .content ul li {
  height: 3em;
}
.section_contact .content ul li i {
  font-size: 1.5em;
  color: #FD8926;
  border-radius: 100%;
  padding: 5px;
}
.section_contact .content ul li span {
  font-size: 1em;
  font-family: Arial, serif, "Helvetica Neue", Helvetica, "Microsoft YaHei";
}
.section_contact .qrcode {
  position: absolute;
  right: 4em;
  bottom: 2em;
}
.section_contact .qrcode img {
  width: 7.5em;
  height: 7.5em;
}
.section_contact.showing {
  background-size: 35% auto;
}
@media screen and (max-width: 1200px) {
  .section_contact .content {
    margin-right: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .section_contact {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .section_contact {
    font-size: 1.2rem;
  }
  .section_contact.showing {
    background-size: 50% auto;
  }
}
