/* css3 v1.0 */
.section_contact {
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #4764b1 url('../img/contact/qipao.png') center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.section_contact .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/contact/qipao.png') 50% 0 no-repeat;
  -webkit-animation: bubble 20s linear infinite 0s;
  -moz-animation: bubble 20s linear infinite 0s;
  -ms-animation: bubble 20s linear infinite 0s;
  -o-animation: bubble 20s linear infinite 0s;
  animation: bubble 20s linear infinite 0s;
}
.section_contact .content {
  padding-left: 10em;
}
.section_contact .content h2 {
  font-size: 2.5em;
  line-height: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  margin: 0;
  margin-top: -3.75em;
  margin-left: -5em;
  -webkit-transition: -webkit-transform 1.5s;
  -moz-transition: -moz-transform 1.5s;
  -o-transition: -o-transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform: translate3d(-2000px, 0, 0);
  -moz-transform: translate3d(-2000px, 0, 0);
  -ms-transform: translate3d(-2000px, 0, 0);
  -o-transform: translate3d(-2000px, 0, 0);
  transform: translate3d(-2000px, 0, 0);
}
.section_contact .content p {
  font-size: 1em;
  -webkit-transition: -webkit-transform 1.5s;
  -moz-transition: -moz-transform 1.5s;
  -o-transition: -o-transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform: translate3d(0, -2000px, 0);
  -moz-transform: translate3d(0, -2000px, 0);
  -ms-transform: translate3d(0, -2000px, 0);
  -o-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}
.section_contact .content p strong {
  font-size: 1.25em;
}
.section_contact .content .slogan {
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -4em;
}
.section_contact .content .slogan li {
  float: left;
  -webkit-transition: -webkit-transform 1.5s;
  -moz-transition: -moz-transform 1.5s;
  -o-transition: -o-transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.section_contact .content .slogan li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.section_contact .content .slogan li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.section_contact .content .slogan li:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.section_contact .content .slogan li:nth-child(5) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.section_contact .content .slogan li:nth-child(6) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.section_contact .content .slogan li:nth-child(7) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.section_contact .content .slogan li:nth-child(8) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.section_contact .content .contact_list {
  margin-top: 2em;
  margin-left: -5em;
  padding-left: 50%;
  text-align: left;
}
.section_contact .content .contact_list li {
  height: 3em;
  -webkit-transition: -webkit-transform 1s 0.2s;
  -moz-transition: -moz-transform 1s 0.2s;
  -o-transition: -o-transform 1s 0.2s;
  transition: transform 1s 0.2s;
  -webkit-transform: translate3d(0, 2000px, 0);
  -moz-transform: translate3d(0, 2000px, 0);
  -ms-transform: translate3d(0, 2000px, 0);
  -o-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}
.section_contact .content .contact_list li i {
  font-size: 1.5em;
  padding: 5px;
  color: #65E4FF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.section_contact .content .contact_list li span {
  font-family: Arial, serif, 'Helvetica Neue', Helvetica, 'Microsoft YaHei';
  font-size: 1em;
  color: #fff;
}
.section_contact .content .contact_list li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.4s;
  -moz-transition: -moz-transform 1s 0.4s;
  -o-transition: -o-transform 1s 0.4s;
  transition: transform 1s 0.4s;
}
.section_contact .content .contact_list li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.6s;
  -moz-transition: -moz-transform 1s 0.6s;
  -o-transition: -o-transform 1s 0.6s;
  transition: transform 1s 0.6s;
}
.section_contact .qrcode {
  position: absolute;
  right: 4em;
  bottom: 2em;
}
.section_contact .qrcode img {
  width: 7.5em;
  height: 7.5em;
}
@media screen and (max-width: 1000px) {
  .section_contact {
    font-size: 1.5rem;
  }
  .section_contact .content .slogan {
    width: 4em;
    margin-top: 0;
    margin-left: -2em;
  }
}
@media screen and (max-width: 450px) {
  .section_contact {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes bubble {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bubble {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}
.section_contact.active .content h2 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.section_contact.active .content p {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.section_contact.active .content .contact_list li {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.section_contact.active .content .slogan li {
  -webkit-transform: translate3d(2000px, 0, 0);
  -moz-transform: translate3d(2000px, 0, 0);
  -ms-transform: translate3d(2000px, 0, 0);
  -o-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
}
