.slide {
  background-position: 50%;
  background-size: cover;
}
.slide_city {
  position: relative;
  background-image: url('../img/home/city.png');
  background-position: 0 center;
  background-size: cover;
  transition: background-position-x 10s;
}
.slide_city .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1.5s ease-in;
}
.slide_city .mask.sunshine {
  background-color: rgba(0, 0, 0, 0);
}
.slide_city .content {
  color: #35240C;
}
.slide_city .content h2 {
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  font-size: 8rem;
  font-weight: normal;
  transition: all .5s;
}
.slide_city .content p {
  font-size: 4.8rem;
  line-height: 1em;
  letter-spacing: -0.4em;
  margin: 0 auto;
  max-width: 90%;
  transition: all .5s;
}
.slide_city .content p.p-up {
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  margin-bottom: 20px;
}
.slide_city .content p.p-down {
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
}
.slide_city.active {
  background-position-x: 100%;
}
.slide_mountain {
  background-image: url('../img/home/mountain.jpg');
  position: relative;
  font-size: 2rem;
  transition: font-size 0.5s;
}
.slide_mountain .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.slide_mountain #eagle {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(85deg) scale(0.05);
  transition: all 1.5s linear;
  max-width: 100%;
}
.slide_mountain #eagle img {
  max-width: 100%;
}
.slide_mountain #eagle.fly_end {
  transform: rotate(0deg) scale(1);
}
.slide_mountain .content {
  opacity: 0;
  color: #fff;
  text-align: left;
  padding-left: 20%;
}
.slide_mountain .content h2 {
  font-size: 3em;
  font-weight: normal;
}
.slide_mountain .content h2:first-letter {
  font-size: 1.25em;
}
.slide_mountain .content p {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .25em;
}
.slide_moon {
  background-image: url('../img/home/moon.jpg');
  position: relative;
  overflow: hidden;
}
.slide_moon .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('http://img01.sogoucdn.com/app/a/100540002/430175.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
  transition: transform 10s;
}
.slide_moon.active .mask {
  transform: scale(2);
}
.slide_moon .content {
  opacity: 0;
  float: right;
  -webkit-transform: scale3d(0.3, 0.3, 0.3);
  transform: scale3d(0.3, 0.3, 0.3);
  color: #fff;
  margin-right: 50%;
  overflow: hidden;
  transition: all 3s;
  font-size: 2rem;
  width: 22em;
  padding: 5em;
  background: -webkit-radial-gradient(closest-side, #000000, rgba(0, 0, 0, 0));
}
.slide_moon .content h2 {
  font-size: 3.25em;
  font-weight: normal;
  float: right;
  width: 1.8em;
  margin: 0;
  padding: 1.5em 0.15em;
}
.slide_moon .content h2:first-letter {
  font-size: 1.8em;
}
.slide_moon .content p {
  padding: 4.875em 1em;
  float: right;
  width: 1.5em;
  margin: 0;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: 1em;
  word-wrap: break-word;
}
.slide_moon .content.showing {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
@media (max-width: 1000px) {
  .slide_mountain {
    font-size: 1.6rem;
  }
  .slide_mountain #eagle {
    max-width: 50%;
  }
  .slide_moon .content {
    margin-right: 40%;
    font-size: 1.8rem;
  }
  .slide_moon .content p {
    padding: 4.875em .75em;
  }
}
@media (max-width: 750px) {
  .slide_mountain {
    font-size: 1.4rem;
  }
  .slide_moon .content {
    margin-right: 30%;
    font-size: 1.6rem;
  }
  .slide_moon .content p {
    padding: 4.875em .6em;
  }
}
@media (max-width: 600px) {
  .slide_city .content h2 {
    font-size: 6rem;
    margin-top: 0;
  }
  .slide_city .content p {
    font-size: 3.6rem;
    max-width: 80%;
  }
  .slide_mountain .content {
    padding-left: 2em;
    padding-right: 5em;
  }
  .slide_mountain .content h2 {
    margin-top: 0;
  }
  .slide_moon .content {
    font-size: 1.4rem;
  }
  .slide_moon .content p {
    padding: 4.875em .5em;
  }
}
@media (max-width: 450px) {
  .slide_mountain #eagle {
    top: 50px;
  }
  .slide_city .content p {
    font-size: 3.2rem;
    max-width: 70%;
  }
  .slide_moon .content {
    margin-right: 10%;
  }
}
@media (max-width: 400px) {
  .slide_moon .content {
    font-size: 1.2rem;
  }
}
