/* css3 v1.0 */
#loading {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0px;
  top: 0px;
  font-size: 2rem;
}
#loading #loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading #loading-center #loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 5em;
  width: 5em;
  margin-top: -2.5em;
  margin-left: -2.5em;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-animation: loading-center-absolute 2s infinite;
  -moz-animation: loading-center-absolute 2s infinite;
  -ms-animation: loading-center-absolute 2s infinite;
  -o-animation: loading-center-absolute 2s infinite;
  animation: loading-center-absolute 2s infinite;
}
#loading #loading-center #loading-center-absolute .object {
  width: 2.5em;
  height: 2.5em;
  background-color: #588EC3;
  float: left;
  line-height: 2.5em;
  text-align: center;
  color: #fff;
}
#loading #loading-center #loading-center-absolute #object_one {
  -webkit-animation: object_one 2s infinite;
  -moz-animation: object_one 2s infinite;
  -ms-animation: object_one 2s infinite;
  -o-animation: object_one 2s infinite;
  animation: object_one 2s infinite;
  -webkit-border-radius: 1.6em 0 1.6em 0;
  -moz-border-radius: 1.6em 0 1.6em 0;
  border-radius: 1.6em 0 1.6em 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#loading #loading-center #loading-center-absolute #object_two {
  -webkit-animation: object_two 2s infinite;
  -moz-animation: object_two 2s infinite;
  -ms-animation: object_two 2s infinite;
  -o-animation: object_two 2s infinite;
  animation: object_two 2s infinite;
  -webkit-border-radius: 0 1.6em 0 1.6em;
  -moz-border-radius: 0 1.6em 0 1.6em;
  border-radius: 0 1.6em 0 1.6em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#loading #loading-center #loading-center-absolute #object_three {
  -webkit-animation: object_three 2s infinite;
  -moz-animation: object_three 2s infinite;
  -ms-animation: object_three 2s infinite;
  -o-animation: object_three 2s infinite;
  animation: object_three 2s infinite;
  -webkit-border-radius: 0 1.6em 0 1.6em;
  -moz-border-radius: 0 1.6em 0 1.6em;
  border-radius: 0 1.6em 0 1.6em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#loading #loading-center #loading-center-absolute #object_four {
  -webkit-animation: object_four 2s infinite;
  -moz-animation: object_four 2s infinite;
  -ms-animation: object_four 2s infinite;
  -o-animation: object_four 2s infinite;
  animation: object_four 2s infinite;
  -webkit-border-radius: 1.6em 0 1.6em 0;
  -moz-border-radius: 1.6em 0 1.6em 0;
  border-radius: 1.6em 0 1.6em 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#loading #loading-center .loading-tip {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2em;
  margin-top: 5em;
  color: #588EC3;
}
@-webkit-keyframes loading-center-absolute {
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes loading-center-absolute {
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes object_one {
  25% {
    -webkit-transform: translate(0, -50px) rotate(360deg);
    -moz-transform: translate(0, -50px) rotate(360deg);
    -ms-transform: translate(0, -50px) rotate(360deg);
    -o-transform: translate(0, -50px) rotate(360deg);
    transform: translate(0, -50px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes object_one {
  25% {
    -webkit-transform: translate(0, -50px) rotate(360deg);
    -moz-transform: translate(0, -50px) rotate(360deg);
    -ms-transform: translate(0, -50px) rotate(360deg);
    -o-transform: translate(0, -50px) rotate(360deg);
    transform: translate(0, -50px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@-webkit-keyframes object_two {
  25% {
    -webkit-transform: translate(50px, 0) rotate(360deg);
    -moz-transform: translate(50px, 0) rotate(360deg);
    -ms-transform: translate(50px, 0) rotate(360deg);
    -o-transform: translate(50px, 0) rotate(360deg);
    transform: translate(50px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes object_two {
  25% {
    -webkit-transform: translate(50px, 0) rotate(360deg);
    -moz-transform: translate(50px, 0) rotate(360deg);
    -ms-transform: translate(50px, 0) rotate(360deg);
    -o-transform: translate(50px, 0) rotate(360deg);
    transform: translate(50px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@-webkit-keyframes object_three {
  25% {
    -webkit-transform: translate(-50px, 0) rotate(360deg);
    -moz-transform: translate(-50px, 0) rotate(360deg);
    -ms-transform: translate(-50px, 0) rotate(360deg);
    -o-transform: translate(-50px, 0) rotate(360deg);
    transform: translate(-50px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes object_three {
  25% {
    -webkit-transform: translate(-50px, 0) rotate(360deg);
    -moz-transform: translate(-50px, 0) rotate(360deg);
    -ms-transform: translate(-50px, 0) rotate(360deg);
    -o-transform: translate(-50px, 0) rotate(360deg);
    transform: translate(-50px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@-webkit-keyframes object_four {
  25% {
    -webkit-transform: translate(0, 50px) rotate(360deg);
    -moz-transform: translate(0, 50px) rotate(360deg);
    -ms-transform: translate(0, 50px) rotate(360deg);
    -o-transform: translate(0, 50px) rotate(360deg);
    transform: translate(0, 50px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@keyframes object_four {
  25% {
    -webkit-transform: translate(0, 50px) rotate(360deg);
    -moz-transform: translate(0, 50px) rotate(360deg);
    -ms-transform: translate(0, 50px) rotate(360deg);
    -o-transform: translate(0, 50px) rotate(360deg);
    transform: translate(0, 50px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(360deg);
    -moz-transform: translate(0, 0) rotate(360deg);
    -ms-transform: translate(0, 0) rotate(360deg);
    -o-transform: translate(0, 0) rotate(360deg);
    transform: translate(0, 0) rotate(360deg);
  }
}
@media screen and (min-width: 1350px) {
  #loading {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1800px) {
  #loading {
    font-size: 4rem;
  }
}
