.slide {
  background-position: 50%;
}
.slide1 {
  background-image: url('../img/1.jpg');
}
.slide2 {
  background-image: url('../img/2.jpg');
}
.slide3 {
  background-image: url('../img/3.jpg');
}
.slide4 {
  background-image: url('../img/4.jpg');
}
.section {
  font: 50px 'Microsoft Yahei';
  text-align: center;
  color: #fff;
}
.section2 p {
  position: relative;
  bottom: -120%;
}
.section3 p {
  position: relative;
  left: -120%;
}
.section4 p {
  display: none;
}
