
@font-face {font-family: "iconchar";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconchar') format('svg'); /* iOS 4.1- */
}

.iconchar {
  font-family:"iconchar" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon17:before { content: "\8005"; }
.icon-icon19:before { content: "\82f9"; }
.icon-icon20:before { content: "\679c"; }
.icon-icon01:before { content: "\539a"; }
.icon-icon02:before { content: "\6b65"; }
.icon-icon03:before { content: "\79d1"; }
.icon-icon04:before { content: "\6280"; }
.icon-icon06:before { content: "\6ce8"; }
.icon-icon08:before { content: "\79fb"; }
.icon-icon09:before { content: "\52a8"; }
.icon-icon10:before { content: "\5e7f"; }
.icon-icon11:before { content: "\544a"; }
.icon-icon12:before { content: "\4e3b"; }
.icon-icon13:before { content: "\548c"; }
.icon-icon14:before { content: "\7528"; }
.icon-icon15:before { content: "\5f00"; }
.icon-icon16:before { content: "\53d1"; }
.icon-icon18:before { content: "\63d0"; }
.icon-icon35:before { content: "\9500"; }
.icon-icon36:before { content: "\7684"; }
.icon-icon37:before { content: "\4e00"; }
.icon-icon38:before { content: "\7ad9"; }
.icon-icon39:before { content: "\5f0f"; }
.icon-icon21:before { content: "\5e94"; }
.icon-icon22:before { content: "\699c"; }
.icon-icon23:before { content: "\5355"; }
.icon-icon24:before { content: "\6392"; }
.icon-icon25:before { content: "\540d"; }
.icon-icon27:before { content: "\672f"; }
.icon-icon28:before { content: "\4f9b"; }
.icon-icon29:before { content: "\4e13"; }
.icon-icon30:before { content: "\5bb6"; }
.icon-icon31:before { content: "\7ea7"; }
.icon-icon32:before { content: "\6574"; }
.icon-icon33:before { content: "\5408"; }
.icon-icon34:before { content: "\8425"; }
.icon-icon2601:before { content: "\670d"; }
.icon-icon2602:before { content: "\52a1"; }
.icon-icon2603:before { content: "\5546"; }
.icon-icon041:before { content: "\4e3a"; }
