
@font-face {font-family: "iconhead";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconhead') format('svg'); /* iOS 4.1- */
}

.iconhead {
  font-family:"iconhead" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon1603:before { content: "\79d1"; }
.icon-icon1604:before { content: "\6280"; }
.icon-icon1605:before { content: "\539a"; }
.icon-icon1606:before { content: "\5fb7"; }
.icon-icon1607:before { content: "\8f7d"; }
.icon-icon1608:before { content: "\7269"; }
.icon-icon1609:before { content: "\6b65"; }
.icon-icon1610:before { content: "\6708"; }
.icon-icon1611:before { content: "\767b"; }
.icon-icon1612:before { content: "\4e91"; }
.icon-icon1601:before { content: "\540e"; }
.icon-icon1602:before { content: "\4e0d"; }
.icon-icon02:before { content: "\624b"; }
.icon-icon03:before { content: "\6500"; }
.icon-icon04:before { content: "\8d8a"; }
.icon-icon05:before { content: "\4e00"; }
.icon-icon06:before { content: "\8def"; }
.icon-icon07:before { content: "\540c"; }
.icon-icon08:before { content: "\884c"; }
.icon-icon01:before { content: "\643a"; }
